* {
    border: none;
    border-radius: 0;
    font-family: Ubuntu Mono, FontAwesome;
    font-size: 15px;
    min-height: 0;
}

@keyframes blink {
    to {
        color: rgba(46, 52, 64, 0.8);
    }
}

window#waybar {
    background: rgba(46, 52, 64, 0.8);
    color: #D8DEE9;
}

#workspaces button {
    background: transparent;
    padding: 0 5px;
}

#workspaces button.focused {
    background: #A3BE8C;
    color: #2E3440;
}

#mode, #window, #network, #memory, #cpu, #pulseaudio, #backlight, #battery, #clock, #custom-cmd {
    margin: 0 5px;
}

#battery.charging {
    color: #A3BE8C;
}

#battery.warning:not(.charging) {
    color: #EBCB8B;
}

#battery.critical:not(.charging) {
    color: #BF616A;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
